{% extends 'base.html.twig' %}

{% block title %}Ajouter un rêve{% endblock %}

{% block body %}
    <h2>Ajouter un rêve!</h2>

    {{ form_start(newWishForm) }}
    {{ form_row(newWishForm.title) }}
    {{ form_row(newWishForm.description) }}
    {{ form_row(newWishForm.author, {
        value: app.user.pseudo
    }) }}
    <button type="submit">Valider</button>
    {{ form_end(newWishForm) }}

{% endblock %}



